{% extends "projects/base.html" %}
{% load static %}

{% block content %}

<div class="container py-5 px-5">
<!--        <div class="row border-bottom border-dark py-4"></div>-->
<!--        <div class="row">-->

<!--            <section class="col-sm-12 col-md-6 col-lg-4 py-3">-->
<!--                <div class="card1">-->
<!--                  <section class="flex-center h-100">-->
<!--                    <h2 class="text-center my-auto">Background</h2>-->
<!--                    <p class="my-auto">Hi, I’m Rex Mitchell. I’m an entry level Python developer specializing in web development and pursuing a career as a full stack developer. I’m passionate about efficiency and high quality of work and life. I believe that if it’s worth doing, it’s worth doing right.-->
<!--                  </section>-->
<!--                </div>-->
<!--            </section>-->

<!--            <section class="col-sm-12 col-md-6 col-lg-4 py-3">-->
<!--                <div class="card1">-->
<!--                    <section class="flex-center">-->
<!--                        <h2 class="text-center">Skills</h2>-->
<!--                        <ul>-->
<!--                            {% for item in myskills %}-->
<!--                            <li>{{ item.skill }}</li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                </section>-->
<!--            </div>-->
<!--        </section>-->

<!--            <div class="col-sm-12 col-md-6 col-lg-4 py-3">-->
<!--                <div class="card1">-->
<!--                    <div class="row h-40 d-flex justify-content-center py-3">-->
<!--                        <img class="profile-img" src="{% static 'projects/7.2.JPG' %}">-->
<!--                    </div>-->
<!--                    <div class="row h-25 d-flex justify-content-center p-info">-->
<!--                        <div class="text-center">-->
<!--                            <p>Rex Mitchell</p>-->
<!--                            <p>(256) 970-8611</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row h-35 d-flex justify-content-center">-->
<!--                        <a href="{% url 'contact' %}" class="email-btn">Contact Me</a>-->
<!--                    </div>-->
<!--                    <div class="row h-35 d-flex justify-content-center">-->
<!--                        <a href="" class="email-btn">My Projects</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="row border-top border-dark py-4"></div>-->


<div class="row">
  <div class="profile-card">
    <div class="card-custom">
      <img src="{% static 'projects/me.JPG' %}" alt="" style="width:100%">
      <div class="container">
        <h2>Rex Mitchell</h2>
        <p class="title">Software Engineer</p>
        <p>nogardjmj@gmail.com</p>
        <p><button class="abt-btn">GitHub</button></p>
        <p><button class="abt-btn">Projects</button></p>
        <p><button class="abt-btn">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="background-card">
    <div class="card-custom">
      <div class="container">
        <h2 class="text">Background</h2>
        <p class="title">Subheader if needed</p>
        <p class="text">Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.Some text that describes me lorem ipsum ipsum lorem.Some text that describes me lorem ipsum ipsum lorem.</p>
        <h2>Skills</h2>
        <p class="title">Tools</p>
        <p class="text">A bunch of skills</p>
        <p class="title">Languages</p>
        <p>A bunch of tools</p>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock content %}