<!doctype html>
<html lang="en">
{% load static %}

<!--###############################################################################################################-->
<!--HEAD: Bootstrap, Icons, CSS, Favicons, Fonts, Tab Titles-->
<!--###############################################################################################################-->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

  <!-- Icon Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

  <!-- My CSS Stylesheet -->
  <link rel="stylesheet" href="{% static 'projects/style.css' %}" type="text/css">

  <!-- My Favicon -->
  <link rel="icon" href="{% static 'projects/my_logo.png' %}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap" rel="stylesheet">

  <meta charset="UTF-8">

<!--
Applies custom internet tab titles based on the title provided in each page view function's context.
See views.py under the projects app
-->
  {% if title %}
    <title>{{ title }} | Rex Mitchell</title>
  {% else %}
    <title>Rex Mitchell</title>
  {% endif %}
</head>

<!--###############################################################################################################-->
<!--BODY: navbar, wrapper, footer-->
<!--###############################################################################################################-->

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'projects-home' %}">RM</a>
    <a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
      </button>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url 'projects-home' %}" class="nav-link">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="navbarDropdownMenuLink"
             role="button" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'projects-portfolio-project' %}">My Portfolio Website</a>
            <a class="dropdown-item" href="{% url 'projects-project2' %}">Comment/Bug Tracker</a>
            <a class="dropdown-item" href="{% url 'projects-project3' %}">Hope Medical Website</a>
          </div>
        <li class="nav-item"><a href="{% url 'about_me' %}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% url 'contact_me' %}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://github.com/RHAM231" class="nav-link">Github</a></li>
        <li class="nav-item"><a href="{% url 'resume' %}" class="nav-link">Resume</a></li>
      </ul>
    </div>
  </nav>

<!--
Let's put a wrapper around everything other than the header
and footer to easily control, size, spacing, and background color
-->
  <div class="wrapper">
{% block content %}{% endblock %}
  </div>

<!-- Left some additional html structure to easily feed in future entries as needed -->
  <footer class="footer">
    <div class="container h-100">
      <div class="row h-100">

        <div class="footer-text col-sm-12 col-lg-12 my-auto">
          <div>
            <a>&copy 2020 Rex Mitchell. All rights reserved.</a>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>

</body>
</html>