{% extends "projects/base.html" %}
{% load static %}

{% block content %}

<div class="success-img">
  <div class="container">
    <div class="row py-5"></div>
    <div class="row d-flex justify-content-center py-4">
      <div class="stext">
      <span class="contrast align-text-middle">Thanks for reaching out to me!</span>
      </div>
    </div>
  </div>
  <div class="row h-35 d-flex justify-content-center">
    <a href="{% url 'projects-home' %}" class="link-btn">Home</a>
  </div>
</div>

{% endblock content %}