{% extends "projects/base.html" %}
{% load static %}

{% block content %}

<div class="pimgintro">
<!--used inline styling to get around h-100 not working-->
<div class="container" style="height: 400px;">
    <div class="row py-5"></div>
    <div class="row d-flex justify-content-center py-3">
        <div class="ptext">
        <span class="align-text-middle">Welcome to my website!</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="ptext-sub my-auto">
          <span class="align-text-middle">
            <p>Check out my projects below</p>
            <p>or read more about me</p>
          </span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="ptext-sub my-auto">
          <span class="align-text-middle">
            <a href="{% url 'about_me' %}" class="link-btn">here</a>
          </span>
        </div>
    </div>
</div>
</div>



<section class="section section-intro">
    <h2>Here's what I know</h2>
    <div class="row d-flex justify-content-center py-2 px-2">

        <a class="box" href="">
        <input type="button" id="icon-label1">
        <label class="icon-logo" id="logo-img1" for="icon-label1"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label2">
        <label class="icon-logo" id="logo-img2" for="icon-label2"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label3">
        <label class="icon-logo" id="logo-img3" for="icon-label3"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label4">
        <label class="icon-logo" id="logo-img4" for="icon-label4"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label5">
        <label class="icon-logo" id="logo-img5" for="icon-label5"></label></a>

<!--    </div>-->

<!--    <div class="row d-flex justify-content-center">-->

        <a class="box" href="">
        <input type="button" id="icon-label6">
        <label class="icon-logo" id="logo-img6" for="icon-label6"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label7">
        <label class="icon-logo" id="logo-img7" for="icon-label7"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label8">
        <label class="icon-logo" id="logo-img8" for="icon-label8"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label9">
        <label class="icon-logo" id="logo-img9" for="icon-label9"></label></a>

        <a class="box" href="">
        <input type="button" id="icon-label10">
        <label class="icon-logo" id="logo-img10" for="icon-label10"></label></a>

    </div>
</section>

<!--The link that's dynamically generated in this loop is pulled from the database.
the '' are removed from around project.link because they are already there when pulled from the database
because the link is passed to the template as a text string-->

{% for project in projects %}
    <div class="pimg{{ forloop.counter }}">
        <div class="ptext align-middle">
        <span class="align-middle">
        <a href="{% url project.link %}" class="project-link">{{ project.title }}</a>
        </span>
        </div>
    </div>
    <section class="section section-light">
        <h2>{{ project.header }}</h2>
        <p>{{ project.description }}</p>
    </section>
{% endfor %}

<div class="pimgintro">
<div class="container" style="height: 400px;">
    <div class="row py-5"></div>
    <div class="row d-flex justify-content-center py-3">
        <div class="ptext">
        <span class="align-text-middle">See something you like?</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="ptext-sub my-auto">
          <span class="align-text-middle">
            <p>Check out my GitHub</p>
          </span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="github-logo2" href="https://github.com/RHAM231">
        <input type="button" name="" id="logo"><label class="github-logo-light" for="logo">
            <span>GitHub</span>
            <i class="fab fa-github"></i>
        </label></a>
    </div>

</div>
</div>

{% endblock content %}