{% extends "base_pages/base.html" %}
{% load static %}

{% block content %}

<div class="row mt-4 mb-4"></div>

<div class="section-about py-5 px-5">
<div class="row">
  <div class="col">
    <div class="container">
      <div class="row py-4">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="{% static 'me&wife.jpg' %}" alt="HTML5" class="pb-2" style="width:100%">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h2 class="pb-1">Languages</h2>
          <h5 class="pb-2">Python, HTML, CSS, JavaScript</h5>
          <h2 class="pb-1">Tools</h2>
          <h5 class="pb-2">Django, Django REST, Linux/Ubuntu, Selenium, Bootstrap, AWS, Apache, Git/GitHub</h5>
        </div>
      </div>

      <div class="row border-custom"></div>
      <div class="row py-2"></div>

      <h2>Hi, I'm Rex</h2>
      <p>I'm a software engineer. If I could tell you one thing about me,
	      it would be that I care deeply about quality. I strive to produce the highest levels
	      of it both in my personal life and in work. I live with my wife in Huntsville, AL, USA.</p>

      <div class="row border-custom"></div>
      <div class="row py-2"></div>

      <h2>Where I Came From</h2>
      <p>I majored in mechanical engineering and pursued an aerospace career.
        After two years of mechanical and electrical work, I decided to pursue coding full
        time. I've thoroughly enjoyed the journey since then.</p>

      <div class="row border-custom"></div>
      <div class="row py-2"></div>

      <h2>Where I'm Going</h2>
      <p>I'm pursuing web development. My long term goal is working as a Backend Developer.
	      If you think these goals align with your company, reach out to me
        and I can help you work towards yours!</p>
    </div>
	    <div class="row h-85 d-flex justify-content-center">
	      <a 
          href="{% url 'contact_me' %}" 
          class="link-btn" 
          id="contact-btn-id">
          Contact Me!
        </a>
	    </div>
  </div>
</div>
</div>

{% endblock content %}
