{% extends "base_pages/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin">

<!-- Intro section with welcome text and link button -->
<div class="pimgintro">
<div class="container-parallax">
  <div class="row mt-5 mb-5 py-5"></div>
  <div class="row d-flex justify-content-center py-3">
    <div class="ptext">
      <span class="align-text-middle">Welcome to my website!</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <p>Check out my projects below</p>
        <p>or read more about me</p>
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <a href="{% url 'about_me' %}" class="link-btn-light">here</a>
      </span>
    </div>
  </div>
</div>
</div>

<!-- Skills Section -->
<section class="section section-intro">
  <h2>Here's What I Know</h2>
  <div class="row d-flex justify-content-center py-2 px-2">
    {% for icon in iconskills %}
      <a class="box" href="{{ icon.link }}">
      <input type="button"
             id="icon-label{{ forloop.counter }}">
      <label class="icon-logo"
             id="{{ icon.icon_id }}"
             for="icon-label{{ forloop.counter }}">
      </label>
      </a>
    {% endfor %}
  </div>
</section>

<!--
Projects Section: This displays all my home page projects.
The url links below are generated dynamically from the database project entries.
'' are removed from around project.link unlike other template links because the
database generates them when passing the links to the template as a text string.
-->
{% for project in projects %}
<!-- Check to render project link differently -->
  {% if 'Hope Medical' in project.title %}
  <div class="pimg{{ forloop.counter }}"></div>
  <section class="section section-light">
    <h2><a href="{{ project.link }}" class="project-link">{{ project.header }}</a></h2>
    <p>
      {{ project.description }}
      <a href="{{ project.link }}" class="">here</a>.
    </p>
    <a class="github-logo2" href="https://github.com/RHAM231/HMWA">
    <input type="button" name="" id="logo2"><label class="github-logo" for="logo2">
      <span>GitHub</span>
      <i class="fab fa-github"></i>
    </label></a>
  </section>
  {% else %}
  <div class="pimg{{ forloop.counter }}"></div>
  <section class="section section-light">
    <h2><a href="{% url project.link %}" class="project-link">{{ project.header }}</a></h2>
    <p>
      {{ project.description }}
      <a href="{% url project.link %}" class="">here</a>.
    </p>
  </section>
  {% endif %}
{% endfor %}

<!-- Closing Section with GitHub button	-->
<div class="pimgintro">
<div class="container-parallax">
  <div class="row py-5"></div>
  <div class="row d-flex justify-content-center py-3">
    <div class="ptext">
    <span class="align-text-middle">See something you like?</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="ptext-sub my-auto">
      <span class="align-text-middle">
        <p>Check out my GitHub</p>
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <a class="github-logo2" href="https://github.com/RHAM231">
    <input type="button" name="" id="logo"><label class="github-logo-light" for="logo">
      <span>GitHub</span>
      <i class="fab fa-github"></i>
    </label></a>
  </div>
</div>
</div>

</div>
{% endblock content %}