body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #232629;
}

.wrapper {
    background: #FFFFFF;
    overflow: auto;
    min-height: 100%;
}

.container-no-margin {
  overflow-x: hidden;
}

.border-custom {
  border-top: 1px solid #CFCFCF;
}

.navbar {
  background: #000000;
  margin-top: 0;
  padding:0px;
}

.navbar-brand{
  color: #E7EAED;
  height: 56px;
  width: 56px;
  padding:0px 12px;
  margin: 0px;
  line-height: 56px;
}

.navbar-collapse{
  margin: 0px 20px;
}

.nav-link{
  color: #E7EAED;
  line-height: 40px;
}

.nav-link:hover, .navbar-brand:hover,
.fas:hover, .dropdown-item:hover{
  color: #000000;
  background: #9AC4E8;
}

.navbar-toggler{
  margin: 0px 0px;
  padding: 0px 0px;
  height: 56px;
  width: 56px;
  border: none;
}

.navbar-toggler-icon{
  height: 56px;
  width: 56px;
}

.navbar-toggler:focus,.navbar-toggler:active {
   outline: none;
   box-shadow: none;
}

.fas{
  background: #000000;
  font-size: 24px;
  line-height: 56px;
  margin: 0px 0px;
  height: 56px;
  width: 56px;
  vertical-align: middle;
  color: #E7EAED;
}

.dropdown-menu{
  background: #000000;
}

.dropdown-item{
  color: #E7EAED;
}

.pimgintro, .pimg1, .pimg2, .pimg3 {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimgintro {
  background-image:url(comp1.jpg);
  min-height: 600px;
}

.container-parallax {
  height: 600px;
}

.pimg1 {
  background-image:url(laptop2.jpg);
  min-height: 400px;
}

.pimg2 {
  background-image:url(proj2-TBD.jpg);
  min-height: 400px;
}

.pimg3 {
  background-image:url(proj3-TBD.jpg);
  min-height: 400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-intro{
  background-color: #E7EAED;
  color: #000000;
  padding:50px 10px;
}

.section-light{
  background-color: #E7EAED;
  color: #000000;
}

.ptext {
  width:100%;
  text-align:center;
  color:#FFFFFF;
  font-size:24px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext-sub {
  text-align:center;
  color:#FFFFFF;
  font-size:18px;
  letter-spacing:2px;
}

.project-link {
  text-decoration: none;
  color: #000000;
  font-size:24px;
  letter-spacing:7px;
  text-transform:uppercase;
}

.project-link:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: rgba(100, 100, 100, 0.75);
}

.link-btn, .link-btn-light, .frm-btn {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 158px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.link-btn-light {
  background-color: #FFFFFF;
  color: #000000;
}

.link-btn:hover, .link-btn-light:hover, .frm-btn:hover {
  background-color: #9AC4E8;
  color: #FFFFFF;
  text-decoration: none;
}

.frm-btn:focus, .frm-btn:active {
   outline: none;
   box-shadow: none;
}

#logo {
  display:none;
}

.github-logo2{
  height: 58px;
}

.github-logo, .github-logo-light{
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  height: 58px;
  width: 158px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.github-logo-light{
  background-color: #FFFFFF;
  color: #000000;
}

.fab {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.github-logo>span, .github-logo-light>span {
  font-size: 16px;
  position: absolute;
  top: 0%;
  left: 35%;
  transform: translate(-50%, 50%);
}

.github-logo:hover, .github-logo-light:hover {
  background: #9AC4E8;
  color: #000000;
}

#icon-label1, #icon-label2, #icon-label3,
#icon-label4, #icon-label5, #icon-label6,
#icon-label7, #icon-label8, #icon-label9,
#icon-label10, #icon-label11 {
  display:none;
}

#ht5-id {
  background-image: url(html5_45.png);
  background-color: #FFFFFF;
}

#gh-id {
  background-image: url(github_60.png);
  background-color: #000000;
}

#git-id {
  background-image: url(git_45.png);
  background-color: #FFFFFF;
}

#pc-id {
  background-image: url(pc_45.png);
  background-color: #FFFFFF;
}

#bst-id {
  background-image: url(bst_55.png);
  background-color: #7952B3;
}

#pyt-id {
  background-image: url(pyt_45.png);
  background-color: #FFFFFF;
}

#dj-id {
  background-image: url(dj_45.png);
  background-color: #092E20;
}

#aws-id {
  background-image: url(aws_55.png);
  background-color: #232F3F;
}

#c3-id {
  background-image: url(css3_45.png);
  background-color: #FFFFFF;
}

#vs-id {
  background-image: url(vs_55.png);
  background-color: #FFFFFF;
}

#ubt-id {
  background-image: url(ubt_45.png);
  background-color: #FFFFFF;
}

.box{
  height: 150px;
  width: 150px;
}

.icon-logo{
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 15px 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-logo:hover {
  height: 125px;
  width: 100px;
  margin: 15px 10px;
}

#id_name, #id_sender, #id_subject, #id_message {
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.19);
}

#id_name:focus, #id_name:active,
#id_sender:focus, #id_sender:active,
#id_subject:focus, #id_subject:active,
#id_message:focus, #id_message:active {
  box-shadow: 0 0 0 0.2rem rgba(154, 196, 232, 0.7);
}

.success-img {
  background-image:url(laptop1.jpg);
  color: #000000;
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  padding:0 20px;
}

.stext {
    width:100%;
    text-align:center;
    color:#000000;
    font-size:20px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.contrast {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.5);
}

.check {
  padding-left: 1rem;
  list-style-type: none;
}

.check label {
  display : inline;
  padding-right : 4px;
}

.footer {
  background: #000000;
  height: 100px;
}

footer .footer-text {
  color: #FFFFFF;
  text-align: center;
}

footer .footer-link {
  color: #FFFFFF;
  text-align: center;
}

footer .footer-link:hover {
  color: #000000;
  text-decoration: none;
  background: rgba(255, 100, 0, 0.25);
}
