{% extends "base_pages/base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row mt-5 mb-5 py-5"></div>
  <div class="row d-flex justify-content-center py-4">
    <div class="stext">
    <span class="contrast align-text-middle">Thanks for reaching out to me!</span>
    </div>
  </div>
</div>
<!--Added m-0 to row to get rid of horizontal scroll bar-->
<div class="row m-0 justify-content-center">
  <a href="{% url 'projects-home' %}" class="link-btn">Home</a>
</div>

{% endblock content %}